.filter-button-container {
    display: flex;
    width: 85%;
    justify-content: center;
    margin-top: 3%;
    gap: 2.2%;
}

.ranking-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border-radius: 49px;
    padding: 8px 5px 8px 0px;
    border: 2px solid rgba(45, 45, 45, 0.16);
    background-color: #FFF;
    color: #2D2D2D; 
    transition: background-color 0.3s, color 0.3s; 
    width: 90%; 
    font-size: 2vw; 
}

.ranking-button.active {
    background-color: #2D2D2D;
    color: white;
}

.ranking-filter-img {
    height: 100%; 
    max-height: 2vw; 
}
