.filter-button-container {
    display: flex;
    width: 85%;
    justify-content: flex-start;
    margin-top: 3%;
    gap: 2.2%;
}

.ranking-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    border-radius: 49px;
    padding: 0.8%; 
    border: 2px solid rgba(45, 45, 45, 0.16);
    background-color: #FFF;
    color: #2D2D2D; 
    transition: background-color 0.3s, color 0.3s; 
    width: auto; 
    min-width: 7%; 
    max-width: 30%;
    font-size: 2vw; 
    white-space: nowrap;
}

.ranking-button.active {
    background-color: #2D2D2D;
    color: white;
}

.ranking-filter-img {
    height: 100%; 
    max-height: 2vw; 
}
