body {
  margin: 0;
  overflow-y: hidden;
}

.outer::-webkit-scrollbar {
  display: none;
}

/* Gallery.css */

.outer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: transparent;
  overflow-y: auto;
}

.inner {
  position: relative;
  height: 100vh;
}

.bgImg {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
}

.bgImg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mainPhoto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 3 / 2;
  width: 60%;
  min-width: 600px;
  min-height: 400px;
  box-shadow: 0px 388px 109px 0px rgba(0, 0, 0, 0),
    0px 248px 99px 0px rgba(0, 0, 0, 0.01),
    0px 140px 84px 0px rgba(0, 0, 0, 0.05),
    0px 62px 62px 0px rgba(0, 0, 0, 0.09), 0px 16px 34px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.mainPhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoBox {
  position: absolute;
  bottom: 5%;
  left: 4%;
  width: 500px;
  max-width: 40%;
  height: 110px;
  border-radius: 10px;
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  align-items: center;
  display: flex;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s;
  z-index: 3;
}

.sideBtns {
  position: absolute;
  bottom: 5%;
  right: 3%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoBox .userImage {
  margin-left: 30px;
  margin-right: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.infoBox .userImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoBox .textContent {
  display: flex;
  flex-direction: column;
}

.infoBox .textContent .title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.infoBox .textContent .date {
  font-size: 0.9em;
  color: #ccc;
}

.infoBox:hover {
  opacity: 0.95;
}
