.goodsImg-wrap {
    height: 100%; 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 5%;
    margin-left: 4%;
}

.goodsImg-box {
    aspect-ratio: 3.18/ 2.84;
    width: 75%;
    background-color: #D9D9D9;
    display: flex;
    position: relative;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
}

.best-goods-image {
    position: absolute;
    aspect-ratio: 2.84/ 3.13;
    height: 124%;
    top : -3%;
    left : 0%;
    object-fit: cover; /* 이미지 비율 유지 및 잘림 방지 */
    border-radius: 10px;
}

.best-goods-description {
    margin-top : 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.best-goods-price {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
