@font-face {
    font-family: "Helvetica Condensed Black Oblique";
    font-weight: normal;
    src: url("../font/Helvetica\ Condensed\ Black\ Oblique.ttf") format("truetype");
  }

.GoodsImg-wrap {
    height: 10000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap : 4%;
    margin-top : 5%;
    row-gap : 10%;
}

.GoodsImg-box {
    height: 50%;
    width: 28%;
    background-color: #D9D9D9;
    display: flex;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.best-Goods-number {
    position: absolute;
    font-size: 104px;
    color : #FFF;
    z-index: 1;
    top : -22%;
    left : 3%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.30);
    line-height: 70px;
    letter-spacing: -1px;
    font-family: "Helvetica Condensed Black Oblique";

}

.best-Goods {
    position: absolute;
    top : -4%;
    left : -11%;
    width : 122%;
    height: 124%;
    border-radius: 10px;

}


.Goods-profile-img {
    position: absolute;
    height: 15%;
    width: 10%;
    border : 1px solid black;
    border-radius: 48%;
    top : 73%;
    left: 8%;
    z-index: 1;
}


.best-Goods-p {
    position: absolute;
    top: 65%;
    left: 22%;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    
}
