.GoodsBuy-wrap {
    height: calc(100vh - 80px);
    margin-top: 80px;
    width: 100vw;
    background-color: #FFF;
}

.GoodsBuy-main {
    width: 100%;
    height: 100%;
    display: flex;
}

.GoodsBuy-left {
    height: 100%;
    width: 63%;
    flex-shrink: 0;
}

.GoodsBuy-img {
    height: 100%;
    width: 100%;
}

.GoodsBuy-right {
    height: 100%;
    width: 37%;
    flex-shrink: 0;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GoodsBuy-description {
    display: flex;
    width: 77%;
    flex-direction: column;
    align-items: flex-start;
    gap: -5px;
    margin-top : 10%;
    margin-left : 3%;
}

.GoodsBuy-producer {
    color: rgba(45, 45, 45, 0.48);
    display: inline-flex;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0%;
}

.GoodsBuy-introduction {
    color: #000;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom : 8%;
    white-space: normal;
    line-height: 1.5;
    margin-top : 0%;
}
.GoodsBuy-introduction-price {
    color: #000;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom : 8%;
    margin-top : -5%;
    white-space: normal;
}

.GoodsBuy-line {
    width: 73%;
    height: 0px;
    flex-shrink: 0;
    margin-top : 0%;
    border : 1px solid rgb(0, 0, 0, 0.16);
}

.GoodsBuy-countBox {
    margin-top : 35px;
    width: 73%;
    height: 13%;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 0 3% 3% 3%;
}

.GoodsBuy-small-title {
    color : #000;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
}
.GoodsBuy-count {
    display: flex;
    gap : 16px;
}

.plus-minus {
    display: flex;
    width: 7%;
    height: 100%;
    padding: 1%;
    align-items: center;
    justify-content: center;
    border-radius: 70%;
}
.GoodsBuy-countPrice {
    margin-left : 137px;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width : 48%;
    text-align: right;
}
.GoodsBuy-totalPrice-box {
    width: 73%;
    display: flex;
    margin-top : 10%;
    margin-bottom : 10%;
    justify-content: space-between;
}

.GoodsBuy-price-description {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap; 
}

.GoodsBuy-totalPrice {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    white-space: nowrap; 
}

.GoodsBuy-button {
    display: flex;
    height: 10%;
    width: 73%;

    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: #2D2D2D;
}

.GoodsBuy-button-p {
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

@media (max-width: 600px) {
    .GoodsBuy-small-title {
        font-size: 1.1rem; 
    }
}