.Goods-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Goods-main-best {
    height: 30%;
    width: 100%;
}

.goods-filter {
    margin-top : -7%;
    margin-left : 4%;
}

.goods-sort {
    display: flex;
    margin-left : 4%;
    margin-top: 2%;
    width: 14%;
}

.Goods-main-goods {
    margin-top : -4%;
    line-height: 85%;
    height: 50%;
}

.Goods-foot {
    margin-top: 9.2%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
