.goodsImg-wrap {
    height: 700px;
    width: 1920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 78px;
}

.goodsImg-box {
    height: 284px;
    width: 318px;
    background-color: #D9D9D9;
    position: relative;
    border-radius: 10px;
}

.best-goods {
    height: 284px;
    width: 318px;
    border-radius: 10px;
}


.best-goods-description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}


.best-goods-price{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
