/* Main.module.css */
:global(html, body) {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

.containerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.bgImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.bigLetterLogo {
  background-image: url("../assets/phorestLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40%;
  height: 250%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.ArrowButtonsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70%;
  position: absolute;
  bottom: 45%;
  width: 100%;
  z-index: 2;
}

.enterButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  bottom: 10%;
  z-index: 3;
  width: 10%;
}
.enterButton:active {
  transform: translateY(4px); /* 버튼이 눌리는 느낌을 주기 위해 위치를 이동 */
}

.enterButton:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* 눌렸을 때 그림자 효과 */
}


.enterButton img {
  width: 100%;
  height: auto;
}

.pageWrapper {
  height: 100vh;
  margin: 0;
  padding: 0;
}
