.photoCell {
  height: 0;
  padding-bottom: calc(100% - 5px); /* 상하 여백을 고려한 높이 조정 */
  position: relative;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s;
  box-sizing: border-box; /* 패딩과 보더를 포함한 크기 계산 */
}

.photoImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.selected {
  border-color: black; /* 선택된 셀의 테두리 색상 */
  border-radius: 10px;
}
