@font-face {
    font-family: "Helvetica Condensed Black Oblique";
    font-weight: normal;
    src: url("../font/Helvetica\ Condensed\ Black\ Oblique.ttf") format("truetype");
  }

.rankingImg-wrap {
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap : 4%;
    margin-top : 5%;
    row-gap : 10%;
}

.rankingImg-box {
    height: 50%;
    width: 28%;
    background-color: #D9D9D9;
    display: flex;
    position: relative;
    border-radius: 10px;
}

.best-ranking-number {
    position: absolute;
    font-size: 104px;
    color : #FFF;
    z-index: 0;
    top : -22%;
    left : 3%;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.30);
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    font-family: "Helvetica Condensed Black Oblique";

}

.best-ranking {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


.profile-img {
    position: absolute;
    top : 73%;
    left: 8%;
}


.best-ranking-p {
    position: absolute;
    top: 69%;
    left: 22%;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    
}
