/* RoundButton.css */
.round-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.4); /* 배경 투명 */
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* 그림자 추가 */
}

.round-button:active {
  background-color: rgba(255,255,255,0.7); /* 배경 투명 */
  transform: translateY(2px); /* 버튼을 아래로 2px 이동 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.round-button:hover {
  background-color: rgba(227, 227, 227, 0.7); /* 배경 투명 */
}

.round-button img {
  width: 50%; /* 이미지 크기를 버튼의 80%로 조절 */
  height: 50%; /* 이미지 크기를 버튼의 80%로 조절 */
  object-fit: contain; /* 이미지를 버튼 안에 맞추기 */
}