.Search-wrap {
    height: calc(100vh - 80px);
    margin-top: 80px;
}

.Search-top-box {
    display: flex;
    background-color: #F5F5F5;
    height: 11%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.Search-top-input {
    display: flex;
    width: 90%;
    height: 60%;
    border: none;
    background-color: #FFF;
    border-radius: 50px;
    padding-left: 1%;
}

.Search-input {
    width: 100%;
    border: none;
    border-radius: 50px;
    font-size: 25px;
    padding-left: 2%;
    outline: none;
}
.Search-icon {
    width: 3%;
    height: 80%;
    margin-top : 0.4%;
    border : none;
    background-color: #FFF;
    z-index: 2;
}

.Search-bottom-top-rectangle {
    display: flex;
    height:5%;
    width: 95%;
    justify-content: space-between;
    margin-left: 4%;
    margin-top : 3%;
    position: relative;
}


.Search-content {
    font-size: 35px;

}

.Search-sort {
    display: flex;
    margin-top: 2%;
    width: 14%;
    position: relative;
}


.Search-dropdown {
    position: absolute;
    top: 50%;
    left : 0%;
    color : #000;
    
}
.Search-view-img {
    height: 32px;
    width: 32px;
}

.Search-bottom-bottom-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Search-grid {
    width: 96%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.Search-grid-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 19rem;
}

.Search-img-box {
    aspect-ratio: 3.18 / 2.84;
    width: 75%;
    position: relative;
    overflow: hidden; 
    border-radius: 10px;
    border: none;
}

.Search-search-image {
    position: absolute;
    top: -3%;
    left: 0;
    width: 100%;
    height: 124%; 
    object-fit: cover; 
}

.Search-description-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    
}


.Search-profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 50%;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.Search-description-p {
    margin-top :7%;
}

.Search-description-middle {
    display: flex;
    width: 70%;
    margin-left : 3%;
    justify-content: space-between;
}


.Search-favorite-icon {
    margin-right : 2%;
}

.Search-count {
    margin-top : 5%;
}


