.containerUpload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 80px);
  margin-top: 80px;
  background: transparent;
  padding: 5px; /* 여백 추가 */
  box-sizing: border-box; /* 여백 포함한 크기 계산 */
  background-color: #f5f5f5;
}

.previewBox {
  width: 70%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
}

.previewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: transparent;
}

.bgImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: dashed 3px gray;
  margin: 0;
  padding: 0;
}

.bgImgHovered {
  border-color: black;
}

.emptyPhoto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  font-size: 20px;
  color: #acacac;
}

.mainPhoto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 3 / 2;
  width: 60%;
  min-width: 600px;
  min-height: 400px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7);
  border: dashed 3px gray;
}

.mainPhotoHovered {
  border-color: black;
}

.mainPhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoBox {
  position: absolute;
  bottom: 61px;
  left: 4%;
  width: 600px;
  max-width: 45%;
  height: 114px;
  padding: 25px 30px 25px 30px;
  border-radius: 10px;
  border: dashed 3px gray;
  opacity: 0.5;
  background: #ffffff8f;
  color: white;
  align-items: center;
  display: flex;
  transition: opacity 0.5s;
  z-index: 3;
}

.infoBox.hovered {
  opacity: 0.95;
  border-color: black;
}

.infoBox .userImage {
  margin-left: 14px;
  margin-right: 24px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}

.infoBox .userImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoBox .textContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.infoBox .textContent .title {
  font-size: 24px;
  color: #2d2d2d;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoBox .textContent .titleInput {
  font-size: 24px;
  margin-bottom: 5px;
  background: transparent;
  color: #2d2d2d;
  border: none;
  outline: none;
  width: 100%; /* 전체 너비 사용 */
  box-sizing: border-box; /* padding 포함 */
}

.infoBox .textContent .error {
  color: red;
  font-size: 0.9em;
}

.infoBox .textContent .date {
  font-size: 24px;
  color: #2d2d2d66;
}

.customBox {
  width: 30%; /* 전체 너비의 30%를 차지 */
  height: 100%; /* 전체 높이를 차지 */
  display: flex;
  flex-direction: column;
  background: white; /* 샘플 배경색 */
  box-sizing: border-box; /* 여백 포함한 크기 계산 */
  padding: 10px; /* 여백 추가 */
  overflow: hidden; /* 스크롤 방지 */
  border-radius: 8px;
}
.custom_head,
.custom_body,
.custom_body_upload,
.custom_foot,
.nextButton {
  align-items: center;
  border: none;
  display: flex;
}
.custom_head {
  margin-top: 1%;
  height: 10%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.custom_head p {
  position: absolute;
  font-size: 24px;
  color: black;
  text-align: left;
  margin-left: 3%;
  font-weight: 700;
  font-family: Noto Sans KR;
}

.custom_body {
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  justify-content: top;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.custom_body_upload {
  height: 300px;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  justify-content: top;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.custom_foot {
  height: 25%;
  padding-bottom: 10%; /* 마지막 섹션은 여백 제거 */
  padding-left: 4%;
  padding-right: 4%;
  justify-content: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.backButton {
  display: flex;
  border: none;
  background-color: transparent;
  margin-left: 3%;
  width: 30px;
  height: 30px;
  align-items: center;
}

.backButton img {
  width: 100%; /* 버튼 안에서 이미지의 너비를 100%로 설정 */
  height: 100%; /* 버튼 안에서 이미지의 높이를 100%로 설정 */
  object-fit: contain; /* 이미지 비율을 유지하며 버튼에 맞게 조정 */
}

/* fileInput */
.fileInput {
  display: none;
}

.customFileInput {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  background-color: #2d2d2d;
  width: 460px;
  height: 207px;
  border-radius: 20px;
  overflow: hidden; /* 자식 요소의 경계를 둥글게 만듦 */
}

.customFileInput img {
  width: 50px; /* 이미지 크기 */
  height: 50px; /* 이미지 크기 */
}

.customFileInput p {
  font-size: 20px;
  color: white;
  white-space: nowrap;
  margin-top: 7px;
}

.nextButton {
  bottom: 86px; /* 부모 요소의 하단에서 86px 떨어진 위치 */
  justify-content: center;
  width: auto;
}

.nextButton button {
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  font-size: 24px;
  cursor: pointer;
  border: solid 2px #2d2d2d;
  background-color: #ffffff;
  white-space: nowrap;
}
